/* Tabellenhintergrund aendern */
.blur{
  backdrop-filter: blur(10px);
  border: rgba(95, 95, 95, 0.15) 5px solid;
}

label[for="farbe"]{
  width: 100px;
  height: 40px;
  background-color: black;
  border-radius: 15px;
  margin-bottom: -15px;
}

/* Veraenderung des Bereit Buttons */
/* Ausblaenden der Checkbox */
#confirm{
  display: none;
}

/* Eigende Gestaltung der Checkbox */
input[type=checkbox]+label[for="confirm"]::before{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #858585;
  background-color: rgba(255, 255, 255, 0);
  display: block;
  float: right;
  margin-left: 5px;
  content: "";
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

input[type=checkbox]:checked+label[for="confirm"]::before{
  content: "\2714";
  display: unset;
  font-weight: bold;
}

#loading {
  align-self: center;
  margin-left: calc(50% - (0.5 * 980px));
  margin-bottom: 11.8%;
}
#loading span {
  position: relative;
  bottom: 12px;
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 21px;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 5px;
}
#loading span:after {
  content: "Verbindung wird hergestellt ...";
  animation: loading 2s infinite;
}

@keyframes loading {
  0%   { content: "Verbindung wird hergestellt ."; }
  25%  { content: "Verbindung wird hergestellt .."; }
  50%  { content: "Verbindung wird hergestellt ..."; }
  75%  { content: "Verbindung wird hergestellt "; }
  100% { content: "Verbindung wird hergestellt ."; }
}