/* Tabellen Nummer */
table {
  counter-reset: rowNumber;
  font: bold Helvetica, Arial, sans-serif;
  backdrop-filter: blur(10px);
  /* background-color: rgba(0,0,0,0.5); */
}
  
table tbody tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: right;
}

.table{
  color: white;
}