.blur{backdrop-filter: blur(10px);}

#checkit2 + label span{
  background-image: url(https://www.mediaevent.de/html/svg/ui-checkbox-e.svg);
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}